body{
  margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.top{
  width: 100vw;
  height: 60vh;
  background: #00bcd4;
}
.bottom{
  width: 100vw;
  height: 60vh;
  background: #EEEEEE;
}
.post-body,.comment-box{
  background: #fff;
  width: 600px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  margin: 60px auto;
}
.post-body {
  position: relative;
}

.post-body .comment-num {
  position: absolute;
  right: 20px;
  font-weight: bold;
  bottom: 20px;
  width: 80px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: rgb(242, 244, 246);
  color: rgb(76, 87, 101);
}
.comment-box{
  position: relative;;
}
.comment-box .comment-form{
  position: absolute;
  bottom: 25px;
  left:16px
}
.comment{
  padding: 16px;
  border-bottom: 1px solid rgb(200, 200, 200);;
}
.comment-form .input{
  width: 300px;
  border: none;
  outline: none;
}
.underline1{
  position: absolute;
  bottom:65px;
  left: 16px;
  width: 300px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.underline2{
  position: absolute;
  bottom: 35px;
  width: 300px;
  left: 16px;
  border-top: none;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.submit-btn {
  color: white;
  font-weight: bold;
  background-color: deeppink;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 5px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
